.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}
.countries-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  flex: 1 0 20%;
  min-width: 260px;
  margin: 10px;
  padding: 20px 20px 0;
  text-align: center;
  border-radius: 20px;
  background: #161616;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: whitesmoke;
}
img {
  width: 140px;
  height: 90px;
  margin: 0 auto;
  object-fit: cover;
}
.card h3 {
  font-size: 1.4rem;
}
.card h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
.card p {
  font-size: 0.9rem;
}
